@charset "UTF-8";
article {
    background-color: #CE915B;
}
header {
    background-color: #FFFFFF;
    width: 940px;
    text-align: center;
}
main {
    background-color: #FFE2BA;
    color: #000000;
}
nav {
    background-color: #F8DECD;
    height: 34px;
    text-align: left;
    line-height: 34px;
    margin-left: 0px;
    text-indent: 20px;
}
.container {
    width: 862px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer {
    background-color: #F0BEBE;
}
